
@{
    ViewData["Title"] = "ListFriendlyMessage";
    Layout = "~/Views/Shared/_InboxlyLayout.cshtml";
    int count = 0;
}

<div class="container-fluid">
    <div class="email-app">

        @await Component.InvokeAsync("LeftBarInTheMailOperations")
        <div class="right-part mail-list bg-white" style="margin-left:260px;">
            <div class="p-15 d-flex align-items-center do-block">
                <div class="btn-group my-1">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input sl-all" id="cs">
                        <label class="custom-control-label" for="cs">&nbsp;</label>
                    </div>
                </div>
            </div>

            <!-- MAİL LİSTESİ -->
            <div class="table-responsive">
                <table class="table email-table no-wrap table-hover v-middle">
                    <tbody>
                        @foreach (var item in Model)
                        {

                            string label = item.CategoryName switch
                            {
                                "İş" => "label-danger",
                                "Ticari" => "label-warning",
                                "Aile" => "label-success",
                                "Arkadaşlar" => "label-info",
                                _ => "label-secondary"
                            };


                            count++;
                            <tr class="unread align-middle">
                                <!-- Checkbox -->
                                <td class="chb">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox"
                                               class="custom-control-input mail-check"
                                               id="cts@(count)">
                                        <label class="custom-control-label" for="cts@(count)">&nbsp;</label>
                                    </div>
                                </td>

                                <!-- User image -->
                                <td class="user-image">
                                    <div class="user-initials">
                                        @(item.Name.Substring(0, 1) + item.Surname.Substring(0, 1))
                                    </div>
                                </td>

                                <!-- User name -->
                                <td class="user-name">
                                    <h6 class="m-b-0">@(item.Name + " " + item.Surname)</h6>
                                </td>

                                <!-- Message -->
                                <td class="max-texts">
                                    <a class="link" asp-controller="Inboxly" asp-action="MessageDetails" asp-route-itemid="@item.MessageId">
                                        <span class="label @(label) m-r-10">@(item.CategoryName)</span>
                                        <span class="blue-grey-text text-darken-4">
                                            @item.Details
                                        </span>
                                    </a>
                                </td>

                                <!-- Time -->
                                <td class="time text-muted text-right">
                                    @(item.SendDate.ToString("HH:mm tt"))
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

